{% extends 'base.html.twig' %}

{% block title %}Catalogos{% endblock %}

{%block stylesheets%}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/plugins/datatables.bootstrap.min.css') }}"/>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/vocabulary.css') }}"/>
{% endblock %}

{% block content %}

    <!--Barra Superior de titulo-->
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-xs-12">
                <div class="col-xs-7">
                    <h3 class="animated fadeInLeft titulo-grande">Catalogo</h3>
                </div>
                <div class="col-xs-2 col-xs-offset-3">
                    <a href="{{ path("create_vocabulary") }}" class="col-xs-12 submit btn btn-3d btn-default texto-boton botones crear-boton animar-boton">Crear</a>
                </div>
            </div>
        </div>
    </div>
    <!--Hoja Blanca-->
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                {% if result %}
                    <div class="responsive-table">
                        <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Estado</th>
                                <th>Visibilidad</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for vocabulary in result %}
                                <tr class="tr-vocabulary" onclick="document.location = '{{ path('show_vocabulary', {'id' : vocabulary.id }) }}';">
                                    <td>
                                        {{ vocabulary.name }}
                                    </td>
                                    <td>
                                        {{ vocabulary.description }}
                                    </td>
                                    <td>
                                        {{ vocabulary.getTextStatus(vocabulary.status) }}
                                    </td>
                                    <td>
                                        {{ vocabulary.getTextVisibility(vocabulary.visibility) }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <h2>No hay ningun Vocabulario en la base de datos</h2>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- end: hoja blanca -->

{% endblock %}

{% block javascripts %}

    {{ parent() }}


    <script src="{{ asset('js/plugins/jquery.datatables.min.js') }}"></script>
    <script src="{{ asset('js/plugins/datatables.bootstrap.min.js') }}"></script>

    <!-- Our JavaScript -->
    <script src="{{ asset('js/our/tables.js') }}"></script>

{% endblock %}
