{% if vocabularies_visibles %}
    {% for vocabulary in vocabularies_visibles %}
        <li><a href="{{ path("show_by_MachineName", {'vocabulary' : vocabulary.machineName }) }}">{{ vocabulary.name }}</a></li>
    {% endfor %}
{% endif %}