{# app/Resources/views/questionnaire/create.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Questionnaire {% endblock %}

{%block stylesheets%}
    {{ parent() }}

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/vocabulary.css') }}"/>

    <style>
        #sortable1, #sortable2{
            border: 1px solid #eee;
            width: 100%;
            min-height: 80px;
            list-style-type: none;
            margin: 0;
            padding: 5px 0 0 0;
            float: left;
            margin-right: 10px;
        }
        #sortable1 li, #sortable2 li {
            margin: 0 5px 5px 5px;
            padding: 5px;
            font-size: 1.2em;
            width: 100%;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#sortable1, #sortable2" ).sortable({
                connectWith: ".connectedSortable"
            }).disableSelection();
        } );
    </script>

{% endblock %}
{% block content %}
    <!--Barra Superior de titulo-->
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h2 class="animated fadeInLeft">Cuestionario</h2>
            </div>
        </div>
    </div>
    <!--Hoja Blanca-->
    <div class="col-xs-10 col-xs-offset-1">
        <div class="col-xs-7 panel">
            <div class="col-md-12 panel-heading">
                <div><h4 class="centrar-texto">Crear Cuestionario</h4></div>
            </div>
            <div class="col-md-12 panel-body">
                <div class="col-md-12">
                    <form class="cmxform" id="QuestionnaireForm" method="post">
                        <div class="col-md-12" id="form">

                            <div class="form-group form-animate-text separacion-campos">
                                {{ form_widget(form.name, { 'attr': {'class': 'form-text'} }) }}
                                <span class="bar"></span>
                                {{ form_label(form.name, "Nombre") }}
                                {{ form_errors(form.name) }}
                            </div>
                            <div class="form-group form-animate-text separacion-campos">
                                {{ form_widget(form.description, { 'attr': {'class': 'form-text'} }) }}
                                <span class="bar"></span>
                                {{ form_label(form.description, "Descripcion") }}
                                {{ form_errors(form.description) }}
                            </div>

                            <div id="newQuestions">
                                {{ form_label(form.name, "Preguntas") }}
                                {{ form_start(form, {'attr': {'class': 'form-text'} }) }}

                                <ul id="sortable1" class="connectedSortable">
                                    <!--Start array empty-->
                                </ul>
                            </div>
                            <br><br><br><br><br><br><br><br><br>

                            <div class="col-md-12 form">
                                <div class="form-group">
                                    {{ form_widget(form.termData,{ 'attr': {'class': 'select2-A','style':'width: 100%'}} ) }}
                                </div>
                                <!--Tags-->
                                <div class="form-group">
                                    {{ form_widget(form.tags,{ 'attr': {'class': 'select2-A','style':'width: 100%'}} ) }}
                                </div>
                                <!--Nivel-->
                                <div class="form-group">
                                    {{ form_widget(form.nivel, { 'attr': {'class': 'select2-A','style':'width: 100%'}} ) }}
                                </div>
                            </div>
                            <div class="col-xs-12">
                                {{ form_row(form.save, { 'attr': {'class': 'col-xs-4 submit btn btn-3d btn-default texto-boton botones animar-boton'} }) }}


                                <!--input type="submit" name="enviar" value="Enviar" id="sendQuestionnaire"-->

                                {{ form_row(form._token) }}

                                <a href="{{ path("show_all_questionnaire") }}" class="col-xs-4 col-xs-offset-1 btn btn-3d btn-danger botones animar-boton cancelar">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <section class="col-xs-5" id="contenedorPuzzle">
            <div class="col-xs-12 panel">
                <div id="contenedorPiezas" ondragenter="return enter(event)" ondragover="return over(event)" ondrop="return drop(event)">
                    <div class="col-md-12">
                        <div class="col-md-12 panel-heading">
                            <div><h4 class="centrar-texto">Lista de preguntas</h4></div>
                        </div>
                        <div class="panel">
                            <ul id="sortable2" class="connectedSortable">
                                {% for i in pre %}
                                    <li class="ui-state-highlight"  id="{{ i.id }}">  {{ i.question }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('js/plugins/jquery.validate.min.js') }}"></script>
    <!-- Our Javascript -->
    <script src="{{ asset('js/questionnaire/validacion.js') }}"></script>

    <script src="{{ asset('js/plugins/jquery.datatables.min.js') }}"></script>
    <script src="{{ asset('js/plugins/datatables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/questionnaire/dragandrop.js') }}"></script>
    <script src="{{ asset('js/our/tables.js') }}"></script>

    <script src="{{ asset('js/plugins/jquery.knob.js') }}"></script>
    <script src="{{ asset('js/plugins/jquery.flot.min.js') }}"></script>
    <script src="{{ asset('js/plugins/select2.full.min.js') }}"></script>
    <script src="{{ asset('js/plugins/nouislider.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            jQuery(window).load(function () {
                jQuery('#questionnaire_termData').select2({
                    placeholder: "Tecnologia",
                    allowClear: true
                });
                jQuery('#questionnaire_tags').select2({
                    placeholder: "Tags",
                    allowClear: true
                });
                jQuery('#questionnaire_nivel').select2({
                    placeholder: "Nivel",
                    allowClear: true
                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {

            $('#questionnaire_save').click(function(){
                var dataString = $('#QuestionnaireForm').serializeArray();
                $ul = $('#sortable1');
                $items = $("#sortable1 > li");
                for ($i = 0; $i < $items.length; $i++) {
                    dataString.push({name:"questionnaire[question][]", value: $items[$i].getAttribute('id')});
                }
                console.log(dataString);
                //alert('Datos serializados: '+dataString);
                console.log(dataString);
                //$.post( "/cuestionario/crear/juancarlos", dataString );
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: window.location.pathname,
                    data: dataString,
                    success:function(data)
                    {
                        if(data == "success"){

                            window.location.href = {{ path('show_all_questionnaire') }};
                        }
                    }
                });
            });
        });

    </script>
{% endblock %}