{# app/Resources/views/vocabulary/create.html.twig #}

{% extends 'base.html.twig' %}

{% form_theme form 'form/form_errors.html.twig' %}

{% block title %}Cuestionario{% endblock %}

{%block stylesheets%}
    {{ parent() }}

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/vocabulary.css') }}"/>

{% endblock %}

{% block content %}
    <!--Barra Superior de titulo-->
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-xs-12">
                <div class="col-xs-7">
                    <h3 class="animated fadeInLeft">Editar Cuestionario</h3>
                </div>
            </div>
        </div>
    </div>
    <!--Hoja Blanca-->
    <div class="col-xs-10 col-xs-offset-1">
        <div class="col-md-12 panel">
            <div class="col-md-12 panel-body">
                <div class="col-md-12">
                    <form class="cmxform" id="signupForm" method="post">
                        <div class="col-md-12" id="form">
                            <div class="form-group form-animate-text separacion-campos">
                                {{ form_widget(form.name, { 'attr': {'class': 'form-text'} }) }}
                                <span class="bar"></span>
                                {{ form_label(form.name, "Nombre") }}
                                {{ form_errors(form.name, { 'attr': {'class': 'error'} }) }}
                            </div>
                            <div class="form-group form-animate-text separacion-campos">
                                {{ form_widget(form.description, { 'attr': {'class': 'form-text'} }) }}
                                <span class="bar"></span>
                                {{ form_label(form.description, "Descripcion") }}
                                {{ form_errors(form.description, { 'attr': {'class': 'error'} }) }}
                            </div>
                            <div class="form-group form-animate-text separacion-campos">
                                {{ form_widget(form.status, { 'attr': {'class': 'form-text'} }) }}
                                <span class="bar"></span>
                                {{ form_label(form.status, "Estado") }}
                                {{ form_errors(form.status, { 'attr': {'class': 'error'} }) }}
                            </div>

                            <div class="col-xs-12">

                                {{ form_row(form.save, { 'attr': {'class': 'col-xs-2 submit btn btn-3d btn-default botones texto-titulo animar-boton'} }) }}
                                <a href="{{ path("show_by_DetailsQuestionnaire", {'id' : id }) }}" class="col-xs-2 col-xs-offset-1 submit btn btn-3d btn-danger botones animar-boton cancelar">Cancelar</a>
                            </div>
                            {{ form_row(form._token) }}
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- end: hoja blanca -->

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('js/plugins/jquery.validate.min.js') }}"></script>

    <!-- Our Javascript -->
    <script src="{{ asset('js/questionnaire/validacion.js') }}"></script>

{% endblock %}
