{% extends 'base.html.twig' %}

{% block title %}Questionnaire{% endblock %}

{%block stylesheets%}
    {{ parent() }}

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/vocabulary.css') }}"/>
{% endblock %}

{% block content %}

    <!--Barra Superior de titulo-->
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-xs-7">
                    <h2 class="animated fadeInLeft">Detalles de Cuestionario</h2>
                </div>
                <div class="col-xs-2 col-xs-offset-3">
                    <a href="{{ path("create_questionnaire") }}" class="col-xs-12 submit btn btn-3d btn-default texto-boton botones crear-boton animar-boton">Crear</a>
                </div>
             </div>
        </div>
    </div>
    <!--Hoja Blanca-->
    <div class="col-xs-10 col-xs-offset-1">
        <div class="col-md-12 panel">
            <div class="col-md-12 panel-body">
               <div class="col-xs-9">
                    {% if message is defined %}
                        <h2>{{ message }}</h2>
                    {% else %}

                    <h1  class="col-xs-12 texto-titulo">{{ result.name}}</h1>
                        <div class="col-xs-3">
                        <p class="texto-campo">ESTADO:</p>
                        </div>
                        <div class="col-xs-9">
                            <p class="texto-resultado">{{ result.getTextStatus(result.status) }}</p>
                        </div>
                        <div class="col-xs-3">
                            <p class="texto-campo">DESCRIPCION:</p>
                        </div>
                        <div class="col-xs-9">
                            <p class="texto-resultado">{{ result.description }}</p>
                        </div>
                        <div class="col-xs-3">
                            <p class="texto-campo">TAGS:</p>
                        </div>
                        <div class="col-xs-9">
                            <p class="texto-resultado">
                                {% for term in termdata %}
                                     {{ term.name }} ,
                                {% endfor %}
                            </p>
                        </div>
                    {% endif %}
                </div>
                <div class="col-xs-3">
                    <h2 class="col-xs-12 acciones espacio-acciones">Acciones</h2>
                    <a href="{{ path("edit_questionnaire", {'id' : result.id }) }}" class="col-xs-12 submit btn btn-3d btn-default texto-boton botones animar-boton boton-accion">Editar</a>
                    <a href="{{ path("delete_questionnaire", {'id' : result.id }) }}" class="col-xs-12 btn ripple btn-3d btn-danger botones animar-boton cancelar">Borrar <span class="fa fa-trash"></span></a>
                </div>
            </div>
        </div>

        <div class="col-md-12 panel">
            {% if questions %}
                <div class="col-md-12 panel-heading">
                    <h4>Preguntas</h4>
                </div>
                <div class="col-md-12 panel-body">
                    <div class="responsive-table">
                        <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Pregunta</th>
                                <th>Tipo</th>
                                <th>Puntaje</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for question in questions %}
                                <tr>
                                    <td>{{ loop.index}}</td>
                                    <td>{{ question.question}}</td>
                                    <td>{{ question.getTextType(question.type)}}</td>
                                    <td>{{ question.score}}</td>
                                    <td>{{ question.getTextStatus(question.status)}}</td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                <h3>Aun No se han Agregado Preguntas a este Cuestionario</h3>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

{% endblock %}
