{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Interviews{%endblock%}</title>

    {% block stylesheets %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css')}}">
    <!-- plugins -->
    <link rel="stylesheet" type="text/css" href="{{asset('css/plugins/font-awesome.min.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset('css/plugins/animate.min.css')}}"/>

    <link rel="stylesheet" type="text/css" href="{{asset('css/plugins/nouislider.min.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset('css/plugins/select2.min.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset('css/plugins/ionrangeslider/ion.rangeSlider.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset('css/plugins/ionrangeslider/ion.rangeSlider.skinFlat.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset('css/plugins/bootstrap-material-datetimepicker.css')}}"/>

    <link href="{{asset('css/style.min.css')}}" rel="stylesheet">
    <!-- end: Css -->
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('img/logomi.png')}}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<!-- Color red for the Errors -->

<body id="mimin" class="dashboard">
<!-- start: Header -->
<nav class="navbar navbar-default header navbar-fixed-top">
    <div class="col-md-12 nav-wrapper">
        <div class="navbar-header" style="width:100%;">
            <div class="opener-left-menu is-open">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </div>
            <a href="{{ path("homepage") }}" class="navbar-brand">
                <b>Interviews</b>
            </a>

            <ul class="nav navbar-nav navbar-right user-nav">
                <li class="user-name">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <span>{{ app.user.username }}</span>
                    {% endif %}
                </li>
                <li class="dropdown avatar-dropdown">
                    <img src="{{ asset('img/avatar.jpg')}}" class="img-circle avatar" alt="user name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"/>
                    <ul class="dropdown-menu user-dropdown">
                        <li><a href="{{ path('show_user', {'id': app.user.id}) }}"><span class="fa fa-user"></span>Mi Perfil</a></li>
                        <li class="more">
                            <ul>
                                <li><a href="{{ path('edit_user', {'id': app.user.id}) }}"><span class="fa fa-lock"></span></a></li>
                                <li><a href="{{ path('security_logout') }}"><span class="fa fa-power-off "></span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- end: Header -->

<div class="container-fluid mimin-wrapper">

    <!-- start:Left Menu -->
    <div id="left-menu">
        <div class="sub-left-menu scroll">
            <ul class="nav nav-list">
                <li><div class=""></div></li>
                <li class="time">
                    <h1 class="animated fadeInLeft">21:00</h1>
                    <p class="animated fadeInRight">Sat,October 1st 2029</p>
                </li>
                <li class="ripple"><a href="{{ path("show_dashboard") }}"><span class="fa fa-tachometer"></span>Dashboard</a></li>
                <li class="ripple"><a href="{{ path("show_all_users") }}"><span class="fa fa-user"></span>Usuarios</a></li>
                <li class="ripple">
                    <a class="tree-toggle nav-header">
                        <span class="fa fa-calendar-o"></span>Catalogos
                        <span class="fa right-arrow text-right fa-angle-down"></span>
                    </a>
                    <ul class="nav nav-list tree">
                        {% block vocabularies_visibles %}
                            {{ render(controller('AppBundle:Vocabulary:getVocabulariesVisibles')) }}
                        {% endblock %}
                    </ul>
                </li>
                <li class="ripple"><a href="{{ path("show_all_questions") }}"><span class="fa fa-question"></span>Preguntas</a></li>
                <li class="ripple"><a href="{{ path("show_all_questionnaire") }}"><span class="fa fa-newspaper-o"></span>Cuestionarios</a></li>
                <li class="ripple"><a href="{{ path("show_all_tests") }}"><span class="fa fa-check"></span>Tests</a></li>
                <li class="ripple">
                    <a class="tree-toggle nav-header">
                        <span class="fa fa-file-text"></span> Reportes
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                    </a>
                    <ul class="nav nav-list tree">
                        <li><a href="#">Top Navigation</a></li>
                        <li><a href="#">Boxed</a></li>
                    </ul>
                </li>
                <li ><a href="#"><span class="fa fa-th-list"></span>Log</a></li>
            </ul>
        </div>
    </div>
    <!-- end: Left Menu -->

    <!-- start: Content -->
    <div id="content" class="article-v1">
        {%block content%}

        {%endblock%}
    </div>
    <!-- end: content -->
</div>
<!-- end: Content -->

{%block javascripts%}
    <!-- start: Javascript -->
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery.ui.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <!-- plugins -->
    <script src="{{ asset('js/plugins/moment.min.js') }}"></script>
    <script src="{{ asset('js/plugins/jquery.nicescroll.min.js') }}"></script>
    <!-- custom -->
    <script src="{{ asset('js/main.min.js') }}"></script>
    <!-- end: Javascript -->
{%endblock%}
</body>
</html>