{% extends 'base.html.twig' %}

{%block stylesheets%}
    {{ parent() }}

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/index.css') }}"/>

{% endblock %}

{% block content %}

    <div class="col-md-12 panel">
        <div class="col-md-12">
            <h1 class="animated fadeInLeft titulo-index">Bienvenido a Interviews</h1>
            <h3 class="col-md-8 col-md-offset-2 texto-index">La aplicacion encargada de llevar el control de las entrevistas para los <b>prospectos</b> y <b>empleados</b>.</h3>
            <h3 class="col-md-8 col-md-offset-2 texto-index">Adelante, puedes navegar por sus <b>secciones</b> en su barra lateral izquierda.</h3>
        </div>
    </div>

{% endblock %}
