{# app/Resources/views/term/delete.html.twig #}

{% extends 'base.html.twig' %}

{% form_theme form 'form/form_errors.html.twig' %}

{% block title %}Tickets{% endblock %}

{%block stylesheets%}
    {{ parent() }}

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/vocabulary.css') }}"/>
{% endblock %}

{% block content %}
    <!--Barra Superior de titulo-->
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-xs-7">
                    <h3 class="animated fadeInLeft titulo-grande">Termino</h3>
                </div>
            </div>
        </div>
    </div>
    <!--Hoja Blanca-->
    <div class="col-md-12 panel">
        <div class="col-md-12 panel-heading">
            <h4>Borrar Termino</h4>
        </div>
        <div class="col-md-12 panel-body">
            <div class="col-xs-12">
                {% if message is defined %}
                    <h2>{{ message }}</h2>
                {% else %}
                    <h1 class="texto-titulo">{{ result.name }}</h1>
                    <h2 class="centrar-texto">¿Estas seguro que lo quieres Borrar?</h2>

                    <a href="{{ path("show_by_Details", {'id' : result.id }) }}" class="col-xs-2 col-xs-offset-3 submit btn btn-3d btn-default texto-boton botones animar-boton">No</a>
                    <form method="post">
                        {{ form_widget(form.delete, { 'attr': {'class': 'col-xs-2 col-xs-offset-3 btn btn-3d btn-danger botones animar-boton'} }) }}
                        {{ form_label(form.delete) }}
                        {{ form_row(form._token) }}
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- end: hoja blanca -->
{% endblock %}

{% block javascripts %}

    {{ parent() }}

{% endblock %}