{% extends 'base.html.twig' %}

{% block title %}Termino{% endblock %}

{%block stylesheets%}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/plugins/datatables.bootstrap.min.css') }}"/>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/vocabulary.css') }}"/>
{% endblock %}

{% block content %}

    <!--Barra Superior de titulo-->
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                 <div class="col-xs-7">
                    <h3 class="animated fadeInLeft titulo-grande">Terminos</h3>
                </div>

            </div>
        </div>
    </div>
    <!--Hoja Blanca-->
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
            {% if message is defined %}
                    <h2>{{ message }}</h2>
                {% else %}
                <div class="responsive-table">
                    <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Nombre de Catalogo</th>
                            <th>Description</th>
                            <th>Estatus</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in result %}
                         <tr class="tr-vocabulary" onclick="document.location = '{{ path('show_by_Details', {'id' : i.id }) }}';">
                             <td>
                                {{ i.name }}
                             </td>
                             <td>
                                {{ i.getNameVocabulary() }}
                             </td>
                             <td>
                                {{ i.description}}
                             </td>
                             <td>
                                 {{ i.getTextStatus(i.status) }}
                             </td>
                         </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
    <!-- end: hoja blanca -->

{% endblock %}

{% block javascripts %}

    {{ parent() }}


    <script src="{{ asset('js/plugins/jquery.datatables.min.js') }}"></script>
    <script src="{{ asset('js/plugins/datatables.bootstrap.min.js') }}"></script>

    <!--script type="text/javascript">
        $(document).ready(function(){
            $('#datatables-example').DataTable();
        });
    </script-->

     <!-- Our JavaScript -->
    <script src="{{ asset('js/term/tables.js') }}"></script>

{% endblock %}
