{% extends 'base.html.twig' %}

{% block title %}Reporte Terminos{% endblock %}

{%block stylesheets%}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/plugins/datatables.bootstrap.min.css') }}"/>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/vocabulary.css') }}"/>
{% endblock %}

{% block content %}

    <!--Barra Superior de titulo-->
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                 <div class="col-xs-7">
                    <h3 class="animated fadeInLeft titulo-grande">Terminos por {{ vocabulary }}</h3>
                </div>
                <div class="col-xs-2 col-xs-offset-3">
                    <a href="{{ path("create_terms", {'machineName' : vocabulary }) }}" class="col-xs-12 submit btn btn-3d btn-default texto-boton botones crear-boton animar-boton">Crear</a>
                </div>
            </div>
        </div>
    </div>
    <!--Hoja Blanca-->
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                {% if result %}
                    <div class="responsive-table">
                        <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Estatus</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in result %}
                             <tr class="tr-vocabulary" onclick="document.location = '{{ path('show_by_Details', {'id' : i.id }) }}';">
                                 <td>
                                     {{ i.name }}
                                 </td>
                                 <td>
                                    {{ i.description }}
                                 </td>
                                 <td>
                                     {{i.getTextStatus(i.status) }}
                                 </td>
                             </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <h2>No hay ningun Termino en la base de datos, para este Catalogo</h2>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- end: hoja blanca -->

{% endblock %}

{% block javascripts %}

    {{ parent() }}


    <script src="{{ asset('js/plugins/jquery.datatables.min.js') }}"></script>
    <script src="{{ asset('js/plugins/datatables.bootstrap.min.js') }}"></script>

    <!--script type="text/javascript">
        $(document).ready(function(){
            $('#datatables-example').DataTable();
        });
    </script-->

     <!-- Our JavaScript -->
    <script src="{{ asset('js/term/tables.js') }}"></script>

{% endblock %}
