{# app/Resources/views/user/delete.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Pregunta{% endblock %}

{%block stylesheets%}
    {{ parent() }}

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/question.css') }}"/>
{% endblock %}

{% block content %}
    <!--Barra Superior de titulo-->
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-xs-12">
                <div class="col-xs-7">
                    <h3 class="animated fadeInLeft titulo-grande">Pregunta</h3>
                </div>
                <div class="col-xs-2 col-xs-offset-3">
                    <a href="{{ path("create_question") }}" class="col-xs-12 submit btn btn-3d btn-default texto-boton botones crear-boton animar-boton">Crear</a>
                </div>
            </div>
        </div>
    </div>
    <!--Hoja Blanca-->
    <div class="col-xs-10 col-xs-offset-1">
        <div class="col-md-12 panel">
            <div class="col-md-12 panel-heading">
                <h4>Borrar Pregunta</h4>
            </div>
            <div class="col-md-12 panel-body">
                <div class="col-xs-12">
                    <h1 class="texto-titulo">{{ question.question }}</h1>
                    <h2 class="centrar-texto">¿Estas seguro que lo quieres Borrar?</h2>
                    <a href="{{ path("show_question", {'id' : question.id }) }}" class="col-xs-2 col-xs-offset-3 submit btn btn-3d btn-default texto-boton botones animar-boton cancelar">No</a>
                    <form method="post">
                        {{ form_widget(form.delete, { 'attr': {'class': 'col-xs-2 col-xs-offset-2 btn btn-3d btn-danger botones animar-boton'} }) }}
                        {{ form_label(form.delete) }}
                        {{ form_row(form._token) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end: hoja blanca -->

{% endblock %}

{% block javascripts %}

    {{ parent() }}

{% endblock %}