{% extends 'base.html.twig' %}

{% block title %}Pregunta{% endblock %}

{%block stylesheets%}
    {{ parent() }}

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/question.css') }}"/>
{% endblock %}

{% block content %}
    <!--Barra Superior de titulo-->
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-xs-7">
                    <h3 class="animated fadeInLeft titulo-grande">Preguntas</h3>
                </div>
                <div class="col-xs-2 col-xs-offset-3">
                    <a href="{{ path("create_question") }}" class="col-xs-12 submit btn btn-3d btn-default texto-boton botones crear-boton animar-boton">Crear</a>
                </div>
            </div>
        </div>
    </div>
    <!--Hoja Blanca-->
    <div class="col-xs-10 col-xs-offset-1">
        <div class="col-md-12 panel">
            <div class="col-md-12 panel-heading">
                <h4>Editar Pregunta</h4>
            </div>
            <div class="col-md-12 panel-body">
                <form class="cmxform" id="questionForm" method="post">
                    <div class="col-xs-12">

                        <div class="col-xs-9">
                            <div class="form-group form-animate-text ">
                                {{ form_widget(form.question, { 'attr': {'class': 'form-text'} }) }}
                                <span class="bar"></span>
                                {{ form_label(form.question, "Pregunta") }}
                                {{ form_errors(form.question) }}
                            </div>
                        </div>

                        <div class="col-xs-3">
                            <div class="form-group form-animate-text ">
                                {{ form_widget(form.score, { 'attr': {'class': 'form-text'} }) }}
                                <span class="bar"></span>
                                {{ form_label(form.score, "Puntaje") }}
                                {{ form_errors(form.score) }}
                            </div>
                        </div>

                        <div class="col-md-6 no-editable">
                            <div class="form-group form-animate-text">
                                {{ form_widget(form.type, { 'attr': {'class': 'form-text'} }) }}
                                <span class="bar"></span>
                                {{ form_errors(form.type) }}
                            </div>
                        </div>
                        <!--Respuesta Abierta /TextArea-->
                        <div class="col-md-12">
                            {% for answer in form.answer %}

                                <div id="{{ loop.index -1 }}" class="respuesta{{ loop.index -1 }}" style="display:none" >
                                    <div class="col-lg-10">
                                        <div class="form-group form-animate-text ">
                                            {{ form_widget(answer.answer, { 'attr': {'class': 'form-text'} }) }}
                                            <span class="bar"></span>
                                            {{ form_label(answer.answer, "Respuesta") }}
                                            {{ form_errors(answer.answer) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-2 form-animate-checkbox">
                                        {{ form_label(answer.right, "Es correcta") }}
                                        {{ form_widget(answer.right,{ 'attr': {'class': 'checkbox'} } ) }}
                                        {{ form_errors(answer.right) }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-12 form">
                            <div class="form-group">
                                {{ form_widget(form.termData,{ 'attr': {'class': 'select2-A','style':'width: 100%'}} ) }}
                            </div>
                            <!--Tags-->
                            <div class="form-group">
                                {{ form_widget(form.tags,{ 'attr': {'class': 'select2-A','style':'width: 100%'}} ) }}
                            </div>
                            <!--Nivel-->
                            <div class="form-group">
                                {{ form_widget(form.nivel, { 'attr': {'class': 'select2-A','style':'width: 100%'}} ) }}
                            </div>
                        </div>
                        {{ form_row(form.save, { 'attr': {'class': 'col-xs-2 submit btn btn-3d btn-default texto-boton botones animar-boton'} }) }}
                        <a href="{{ path("show_all_questions") }}" class="col-xs-2 col-xs-offset-1 btn btn-3d btn-danger botones animar-boton cancelar">Cancelar</a>
                    </div>
                    {{ form_row(form._token) }}
                </form>
            </div>
        </div>
    </div>

    <!-- end: hoja blanca -->


{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/plugins/jquery.knob.js') }}"></script>
    <script src="{{ asset('js/plugins/jquery.flot.min.js') }}"></script>
    <script src="{{ asset('js/plugins/select2.full.min.js') }}"></script>
    <script src="{{ asset('js/plugins/nouislider.min.js') }}"></script>
    <script src="{{ asset('js/plugins/jquery.validate.min.js') }}"></script>
    <!-- Our Javascript -->
    <script src="{{ asset('js/question/validation.js') }}"></script>
    <script type="text/javascript">
        var $tecnologias = {{ tecnologias|json_encode|raw }};
        var $tags = {{ tags|json_encode|raw }};
        var $niveles = {{ niveles|json_encode|raw }};

        console.log($tecnologias);
        console.log($tags);
        console.log($niveles);

        $(document).ready(function () {
            jQuery(window).load(function () {
                var $tecnologia = jQuery('#question_termData').select2({
                    placeholder: "Tecnologia",
                    allowClear: true
                });
                var $tag = jQuery('#question_tags').select2({
                    placeholder: "Tags",
                    allowClear: true
                });
                var $nivel = jQuery('#question_nivel').select2({
                    placeholder: "Nivel",
                    allowClear: true
                });

                if ($tecnologias.length > 0 && typeof $tecnologias !== 'undefined')
                {
                    $tecnologia.val($tecnologias).trigger("change");
                }
                if ($tags.length > 0 && typeof $tags !== 'undefined')
                {
                    $tag.val($tags).trigger("change");
                }
                if ($niveles.length > 0 && typeof $niveles !== 'undefined')
                {
                    $nivel.val($niveles).trigger("change");
                }

            });
        });
    </script>

    <script>
        $(function() {

            function hideAnswers(valor) {
                if ( valor == '0')
                {
                    $('.respuesta0').show();
                    $('.respuesta1').hide();
                    $('.respuesta2').hide();
                    $('.respuesta3').hide();
                }
                else if ( valor == '1')
                {
                    $('.respuesta0').show();
                    $('.respuesta1').show();
                    $('.respuesta2').hide();
                    $('.respuesta3').hide();
                }
                else if ( valor == '2')
                {
                    $('.respuesta0').show();
                    $('.respuesta1').show();
                    $('.respuesta2').show();
                    $('.respuesta3').show();
                }
            }

            hideAnswers($('#question_type').val());

            $('#question_type').bind("click change", function(){
                // $('.preguntas').hide();
                // $('#' + $(this).val()).show();
                hideAnswers(this.value);
            });
        });

    </script>

    <script>

        $('#question_save').click(function(){
            var dataString = $('#questionForm').serializeArray();
            //alert('Datos serializados: '+dataString);
            console.log("Datos"+dataString);

            $.ajaxForm({
                type: "POST",
                dataType: "json",
                url: "/",
                data: dataString,
                success: function(data) {
                }
            });
            event.preventDefault();
        });

    </script>

{% endblock %}