{% extends 'base.html.twig' %}

{% block title %}Preguntas{% endblock %}

{%block stylesheets%}
    {{ parent() }}

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/question.css') }}"/>
{% endblock %}

{% block content %}

    <!--Barra Superior de titulo-->
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-xs-7">
                    <h3 class="animated fadeInLeft titulo-grande">Pregunta</h3>
                </div>
                <div class="col-xs-2 col-xs-offset-3">
                    <a href="{{ path("create_question") }}" class="col-xs-12 submit btn btn-3d btn-default texto-boton botones crear-boton animar-boton">Crear</a>
                </div>
             </div>
        </div>
    </div>
    <!--Hoja Blanca-->
    <div class="col-xs-10 col-xs-offset-1">
        <div class="col-md-12 panel">
            <div class="col-md-12 panel-heading">
                <h4>Detalles de la Pregunta</h4>
            </div>
            <div class="col-md-12 panel-body">
               <div class="col-xs-9">
                    <h1  class="col-xs-12 texto-titulo">{{ question.question}}</h1>
                    <div class="col-xs-3">
                        <p class="texto-campo">Estado:</p>
                    </div>
                    <div class="col-xs-9">
                        <p class="texto-resultado">{{ question.getTextStatus(question.status) }}</p>
                    </div>
                   <div class="col-xs-3">
                       <p class="texto-campo">Tipo:</p>
                   </div>
                   <div class="col-xs-9">
                       <p class="texto-resultado">{{ question.getTextType(question.type) }}</p>
                   </div>
                   <div class="col-xs-3">
                       <p class="texto-campo">Puntaje:</p>
                   </div>
                   <div class="col-xs-9">
                       <p class="texto-resultado">{{ question.score }}</p>
                   </div>
                   <div class="col-xs-3">
                       <p class="texto-campo">Tags: </p>
                   </div>
                   <div class="col-xs-9">
                       <p class="texto-resultado">
                           {% for term in termdata %}
                               {{ term.name }} ,
                           {% endfor %}
                       </p>
                   </div>
                </div>
                <div class="col-xs-3">
                    <h2 class="col-xs-12 acciones espacio-acciones">Acciones</h2>
                    <a href="{{ path("edit_question", {'id' : question.id }) }}" class="col-xs-12 submit btn btn-3d btn-default texto-boton botones animar-boton boton-accion">Editar</a>
                    <a href="{{ path("delete_question", {'id' : question.id }) }}" class="col-xs-12 btn ripple btn-3d btn-danger botones animar-boton cancelar">Borrar <span class="fa fa-trash"></span></a>
                </div>
            </div>
        </div>
        <div class="col-md-12 panel">
            {% if answers %}
                <div class="col-md-12 panel-heading">
                    <h4>Respuesta(s):</h4>
                </div>
                <div class="col-md-12 panel-body">
                    <div class="responsive-table">
                        <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Respuesta</th>
                                    <th>Tipo</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for answer in answers %}
                                {% if answer.right == 1 %}
                                    <tr class="tr-vocabulary correct" onclick="document.location = '{{ path('edit_answer', {'id' : answer.id }) }}';">
                                {% else %}
                                    <tr class="tr-vocabulary wrong" onclick="document.location = '{{ path('edit_answer', {'id' : answer.id }) }}';">
                                {% endif %}
                                        <td>
                                            {{ answer.answer }}
                                        </td>
                                        <td>
                                            {{ answer.getTextRight(answer.right) }}
                                        </td>
                                        <td>
                                            {{ answer.getTextStatus(answer.status) }}
                                        </td>
                                    </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                <h3 class="texto-titulo">No se agregaron Respuestas para esta Pregunta</h3>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

{% endblock %}
