{% extends 'base.html.twig' %}

{% block title %}Preguntas{% endblock %}

{%block stylesheets%}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/plugins/datatables.bootstrap.min.css') }}"/>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/question.css') }}"/>
{% endblock %}

{% block content %}

    <!--Barra Superior de titulo-->
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                 <div class="col-xs-7">
                    <h3 class="animated fadeInLeft titulo-grande">Preguntas</h3>
                </div>
                <div class="col-xs-2 col-xs-offset-3">
                    <a href="{{ path("create_question") }}" class="col-xs-12 submit btn btn-3d btn-default texto-boton botones crear-boton animar-boton">Crear</a>
                </div>
            </div>
        </div>
    </div>
    <!--Hoja Blanca-->
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                {% if result %}
                    <div class="responsive-table">
                        <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Preguntas</th>
                                <th>Tipo</th>
                                <th>Puntuacion</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for question in result %}
                                     <tr class="tr-vocabulary" onclick="document.location = '{{ path('show_question', {'id' : question.id }) }}';">
                                         <td>
                                            {{ question.question }}
                                         </td>
                                         <td>
                                            {{ question.getTextType(question.type) }}
                                         </td>
                                         <td>
                                            {{ question.score }}
                                         </td>
                                         <td>
                                            {{ question.getTextStatus(question.status) }}
                                         </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <h2>No hay ninguna Pregunta en la base de datos</h2>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- end: hoja blanca -->

{% endblock %}

{% block javascripts %}

    {{ parent() }}


    <script src="{{ asset('js/plugins/jquery.datatables.min.js') }}"></script>
    <script src="{{ asset('js/plugins/datatables.bootstrap.min.js') }}"></script>

     <!-- Our JavaScript -->
    <script src="{{ asset('js/term/tables.js') }}"></script>

{% endblock %}
