{% extends 'base.html.twig' %}

{% block title %}Usuarios{% endblock %}

{%block stylesheets%}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/plugins/datatables.bootstrap.min.css') }}"/>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/user.css') }}"/>
{% endblock %}

{% block content %}

    <!--Barra Superior de titulo-->
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-xs-12">
                <div class="col-xs-7">
                    <h3 class="animated fadeInLeft titulo-grande">Usuario</h3>
                </div>
                <div class="col-xs-2 col-xs-offset-3">
                    <a href="{{ path("create_user") }}" class="col-xs-12 submit btn btn-3d btn-default texto-boton botones crear-boton animar-boton">Crear</a>
                </div>
            </div>
        </div>
    </div>
    <!--Hoja Blanca-->
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                {% if result %}
                    <div class="responsive-table">
                        <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Email</th>
                                <th>Nombre(s)</th>
                                <th>Apellido(s)</th>
                                <th>Tipo</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in result %}
                                <tr class="tr-user" onclick="document.location = '{{ path('show_user', {'id' : user.id }) }}';">
                                    <td>
                                        {{ user.email }}
                                    </td>
                                    <td>
                                        {% if user.firstName is defined %}
                                            {{ user.firstName }}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if user.lastName is defined %}
                                            {{ user.lastName }}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ user.roles|join('|') }}
                                    </td>
                                    <td>
                                        {% if user.status == 0 %}
                                            Inactivo
                                        {% elseif user.status == 1 %}
                                            Activo
                                        {% elseif user.status == 2 %}
                                            Borrado
                                        {% else %}
                                            ?
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <h2>No hay ningun Usuario en la base de datos</h2>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- end: hoja blanca -->

{% endblock %}

{% block javascripts %}

    {{ parent() }}


    <script src="{{ asset('js/plugins/jquery.datatables.min.js') }}"></script>
    <script src="{{ asset('js/plugins/datatables.bootstrap.min.js') }}"></script>

    <!-- Our JavaScript -->
    <script src="{{ asset('js/our/tables.js') }}"></script>

{% endblock %}
