{% extends 'base.html.twig' %}

{% block title %}Usuarios{% endblock %}

{%block stylesheets%}
    {{ parent() }}

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/user.css') }}"/>
{% endblock %}

{% block content %}

    <!--Barra Superior de titulo-->
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-xs-12">
                <div class="col-xs-7">
                    <h3 class="animated fadeInLeft titulo-grande">Usuario</h3>
                </div>
                <div class="col-xs-2 col-xs-offset-3">
                    <a href="{{ path("create_user") }}" class="col-xs-12 submit btn btn-3d btn-default texto-boton botones crear-boton animar-boton">Crear</a>
                </div>
            </div>
        </div>
    </div>
    <!--Hoja Blanca-->
    <div class="col-xs-10 col-xs-offset-1">
        <div class="col-md-12 panel">
            <div class="col-md-12 panel-heading">
                <h4>Detalles del Usuario</h4>
            </div>
            <div class="col-md-12 panel-body">
                <div class="col-xs-9">
                    {% if result.photo %}
                        <div class="col-xs-4 col-xs-offset-6">
                            <img class="img-thumbnail img-responsive" src="{{ result.photo.path }}" />
                        </div>
                    {% endif %}
                </div>
                <div class="col-xs-3">
                    <h2 class="col-xs-12 acciones espacio-acciones">Acciones</h2>
                    <a href="{{ path("edit_user", {'id' : result.user.id }) }}" class="col-xs-12 submit btn btn-3d btn-default texto-boton botones animar-boton boton-accion">Editar</a>
                    <a href="{{ path("delete_user", {'id' : result.user.id }) }}" class="col-xs-12 btn ripple btn-3d btn-danger botones animar-boton boton-accion borrar">Borrar <span class="fa fa-trash"></span></a>
                </div>
                <div class="col-xs-12">
                    <h1 class="col-xs-12 texto-titulo">{{ result.user.roles|join('|') }}</h1>
                    <div class="col-xs-12 centrar-texto">
                        <p class="texto-campo">EMAIL:</p>
                        <p class="texto-resultado">{{ result.user.email }}</p>
                    </div>
                    <div class="col-xs-12 centrar-texto">
                        <p class="texto-campo">STATUS:</p>
                        <p class="texto-resultado">{{ result.user.getTextStatus(result.user.status) }}</p>
                    </div>
                    {% if result.information %}
                        <h2 class="col-xs-12 texto-titulo">Informacion</h2>
                        <div class="col-xs-6 centrar-texto">
                            <p class="texto-campo">NOMBRE(S):</p>
                            <p class="texto-resultado">{{ result.information.firstName }}</p>
                        </div>
                        <div class="col-xs-6 centrar-texto">
                            <p class="texto-campo">APELLIDO(S):</p>
                            <p class="texto-resultado">{{ result.information.lastName }}</p>
                        </div>
                        <div class="col-xs-6 centrar-texto">
                            <p class="texto-campo">CELULAR:</p>
                            <p class="texto-resultado">{{ result.information.mobilePhone }}</p>
                        </div>
                        {% if result.information.mobilePhone %}
                            <div class="col-xs-6 centrar-texto">
                                <p class="texto-campo">TELEFONO:</p>
                                <p class="texto-resultado">{{ result.information.phone }}</p>
                            </div>
                        {% endif %}
                        {% if result.information.levelStudy %}
                            <div class="col-xs-6 centrar-texto">
                                <p class="texto-campo">NIVEL DE ESTUDIO:</p>
                                <p class="texto-resultado">{{ result.information.levelStudy }}</p>
                            </div>
                        {% endif %}
                        {% if result.information.livingIn %}
                            <div class="col-xs-6 centrar-texto">
                                <p class="texto-campo">VIVIENDO EN:</p>
                                <p class="texto-resultado">{{ result.information.livingIn }}</p>
                            </div>
                        {% endif %}
                        {% if result.information.birthdate %}
                            <div class="col-xs-6 centrar-texto">
                                <p class="texto-campo">CUMPLEAÑOS:</p>
                                <p class="texto-resultado">{{ result.information.birthdate|date("m/d/Y") }}</p>
                            </div>
                        {% endif %}
                        {% if result.information.civilStatus %}
                            <div class="col-xs-6 centrar-texto">
                                <p class="texto-campo">ESTADO CIVIL:</p>
                                <p class="texto-resultado">{{ result.information.civilStatus }}</p>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- end: hoja blanca -->

{% endblock %}

{% block javascripts %}

    {{ parent() }}

{% endblock %}
