{# app/Resources/views/question/edit.html.twig #}

{% extends 'base.html.twig' %}

{% form_theme form 'form/form_errors.html.twig' %}

{% block title %}Respuesta{% endblock %}

{%block stylesheets%}
    {{ parent() }}

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/question.css') }}"/>

{% endblock %}

{% block content %}

    <!--Barra Superior de titulo-->
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft titulo-grande">Respuesta</h3>
            </div>
        </div>
    </div>
    <!--Hoja Blanca-->
    <div class="col-xs-10 col-xs-offset-1">
        <div class="col-md-12 panel">
            <div class="col-md-12 panel-heading">
                <h4>Edicion de Respuesta</h4>
            </div>
            <div class="col-md-12 panel-body">
                <div class="col-md-12">
                    <form class="cmxform" id="signupForm" method="post">
                        <div class="col-md-12" id="form">
                            <div class="col-xs-12 form-group form-animate-text separacion-campos">
                                {{ form_widget(form.answer, { 'attr': {'class': 'form-text'} }) }}
                                <span class="bar"></span>
                                {{ form_label(form.answer, "Respuesta") }}
                                {{ form_errors(form.answer) }}
                            </div>
                            <div class="col-xs-6 form-group form-animate-text separacion-campos">
                                {{ form_widget(form.status, { 'attr': {'class': 'form-text'} }) }}
                                <span class="bar"></span>
                                {{ form_label(form.status, "Estado") }}
                                {{ form_errors(form.status) }}
                            </div>
                            <div class="col-xs-6 form-group separacion-campos form-animate-checkbox">
                                {{ form_label(form.right, "Es Correcta") }}
                                {{ form_widget(form.right, { 'attr': {'class': 'checkbox'} }) }}
                                {{ form_errors(form.right) }}
                            </div>
                            <div class="col-xs-12">
                                {{ form_row(form.save, { 'attr': {'class': 'col-xs-2 submit btn btn-3d btn-default texto-boton botones animar-boton'} }) }}
                                <a href="{{ path("show_all_questions") }}" class="col-xs-2 col-xs-offset-1 btn btn-3d btn-danger botones animar-boton cancelar">Cancelar</a>
                                {{ form_row(form._token) }}
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- end: hoja blanca -->

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('js/plugins/jquery.validate.min.js') }}"></script>

    <!-- Our Javascript -->
    <script src="{{ asset('js/answer/validacion.js') }}"></script>

{% endblock %}
