.tr-vocabulary {
    cursor: pointer;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
}

.tr-vocabulary:hover {
    background-color: grey !important;
    color: white;
    font-weight: bold;
}

.texto-boton {
    color: white !important;
    font-size: 1em;
}

.crear-boton {
    margin: 8% 0;
}

.animar-boton {
    box-shadow: inset 0px 0px 0px #7B7474, 0px 1px 0px 0px #7B7474, 0px 2px 1px #999 !important;
    -webkit-transition: box-shadow .5s;
    transition: box-shadow .5s;
}

.animar-boton:hover {
    box-shadow: inset 0px 0px 0px #7B7474, 0px 5px 0px 0px #7B7474, 0px 10px 5px #999 !important;
}

.texto-campo {
    text-align: right;
    font-size: 20px;
}

.texto-resultado {
    font-size: 20px;
    font-weight: bold;
}

.texto-titulo {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.acciones {
    text-align: center;
    border-bottom: 2px solid #43576b;
}

.botones {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-size: 1.3em !important;
    text-transform: uppercase !important;
    margin-bottom: 20px !important;
    background-color: #43576b !important;
}

.centrar-texto {
    text-align: center;
}

.separacion-campos {
    margin-top:40px !important;
}

.error-rojo {
    color: #e20021;
    font-size: 14px;
}

.correct {
    color: #5eb347;
    font-weight: bold;
}

.wrong {
    color: #e20021;
    font-weight: bold;
}

.titulo-grande {
    color: #43576b;
    font-size: 3em;
}

.no-editable {
    display: none;
}

.boton-accion {
    background-color: whitesmoke !important;
    color: #43576b !important;
}

.cancelar {
    background-color: #e20021 !important;
}