{# app/Resources/views/information/create.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/test.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/plugins/bootstrap-material-datetimepicker.css') }}"/>


{% endblock %}

{% block content %}

    <!--Barra Superior de titulo-->
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft titulo-grande">Test</h3>
            </div>
        </div>
    </div>
    <!--Hoja Blanca-->
    <div class="col-xs-10 col-xs-offset-1">
        <div class="col-md-12 panel">
            <div class="col-md-12 panel-heading">
                <h4>Enviando Test</h4>
            </div>
            <div class="col-md-12 panel-body">
                <div class="col-md-12">
                    <form class="cmxform" id="testForm" method="post">
                        <div class="col-xs-12" id="form">
                            <div class="col-xs-12 form-group form-animate-text separacion-campos">
                                {{ form_widget(form.name, { 'attr': {'class': 'form-text'} }) }}
                                <span class="bar"></span>
                                {{ form_label(form.name, "Nombre") }}
                                {{ form_errors(form.name) }}
                            </div>
                            <div class="col-xs-12 form-group form-animate-text separacion-campos">
                                {{ form_widget(form.description, { 'attr': {'class': 'form-text'} }) }}
                                <span class="bar"></span>
                                {{ form_label(form.description, "Descripcion") }}
                                {{ form_errors(form.description) }}
                            </div>
                            <div class="col-xs-6 form-group form-animate-text separacion-campos">
                                {{ form_widget(form.date_expiry_from, { 'attr': {'class': 'form-text dateAnimate',  'data-dtp': 'information_birthdate'} }) }}
                                <span class="bar"></span>
                                {{ form_label(form.date_expiry_from, "Fecha de Inicio") }}
                                {{ form_errors(form.date_expiry_from) }}
                            </div>
                            <div class="col-xs-6 form-group form-animate-text separacion-campos">
                                {{ form_widget(form.date_expiry_to, { 'attr': {'class': 'form-text dateAnimate',  'data-dtp': 'information_birthdate'} }) }}
                                <span class="bar"></span>
                                {{ form_label(form.date_expiry_to, "Fecha de Expiracion") }}
                                {{ form_errors(form.date_expiry_to) }}
                            </div>
                            <div class="col-xs-12 form">
                                <div class="form-group">
                                    <p class="col-xs-3 col-xs-offset-4 encuestados">Encuestados</p>
                                    {{ form_widget(form.user,{ 'attr': {'class': 'select2-A','style':'width: 100%'}} ) }}
                                </div>
                            </div>

                            {{ form_row(form.save, { 'attr': {'class': 'col-xs-2 submit btn btn-3d btn-default texto-boton botones animar-boton'} }) }}
                            <a href="{{ path("show_all_tests") }}" class="col-xs-2 col-xs-offset-1 btn btn-3d btn-danger botones animar-boton cancelar">Cancelar</a>
                            {{ form_row(form._token) }}

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- end: hoja blanca -->

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('js/plugins/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('js/plugins/bootstrap-material-datetimepicker.js') }}"></script>

    <script src="{{ asset('js/plugins/jquery.knob.js') }}"></script>
    <script src="{{ asset('js/plugins/jquery.flot.min.js') }}"></script>
    <script src="{{ asset('js/plugins/select2.full.min.js') }}"></script>
    <script src="{{ asset('js/plugins/nouislider.min.js') }}"></script>
    <script src="{{ asset('js/plugins/jquery.validate.min.js') }}"></script>
    <!-- Our Javascript -->
    <script src="{{ asset('js/question/validation.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            jQuery(window).load(function () {
                jQuery('#test_user').select2({
                    placeholder: "Emails",
                    allowClear: true,
                    tags: true,
                    tokenSeparators: [',', ' ']
                });
            });
        });
    </script>

    <!-- Our Javascript -->
    <script src="{{ asset('js/test/validation.js') }}"></script>
    <script src="{{ asset('js/test/calendar.js') }}"></script>

    <script>

        $('#test_save').click(function () {
            var dataString = $('#testForm').serializeArray();
            console.log(dataString);

            $.ajaxForm({
                type: "POST",
                dataType: "json",
                url: window.location.pathname,
                data: dataString,
                success: function (data) {
                }
            });
            event.preventDefault();
        });

    </script>

{% endblock %}
