<h3>Hola Amigo, ¿Estas listo para probar tus <b>Habilidades</b>?</h3>

<p>Aqui te mandamos la liga para que puedas contestar la encuesta:</p>

<p><b>Muchas gracias</b>, estamos en contacto,</p>

<p>Suerte!!</p>