{% extends 'base.html.twig' %}

{% block title %}Error 404{% endblock %}

{%block stylesheets%}
    {{ parent() }}

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/error-404.css') }}"/>
{% endblock %}

{% block content %}
    
    <!--Hoja Blanca-->
    <div class="col-md-12 panel">
        <img class="col-xs-6 col-xs-offset-3 error-404" src="{{ asset('img/404.png') }}" alt="Error 404">
    </div>
    <!-- end: hoja blanca -->
{% endblock %}

{% block javascripts %}

    {{ parent() }}

{% endblock %}