{# app/Resources/views/photo/create.html.twig #}

{% extends 'base.html.twig' %}

{% form_theme form 'form/form_errors.html.twig' %}

{% block title %}Foto del Usuario{% endblock %}

{%block stylesheets%}
    {{ parent() }}

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/photo.css') }}"/>

    <link rel="stylesheet" type="text/css" href="{{ asset('css/fileinput.css') }}"/>

{% endblock %}

{% block content %}

    <!--Barra Superior de titulo-->
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft titulo-grande">Foto del Usuario</h3>
            </div>
        </div>
    </div>
    <!--Hoja Blanca-->

    <div class="col-xs-10 col-xs-offset-1">
        <div class="col-md-12 panel">
            <div class="col-md-12 panel-heading">
                <h4>Agregando Foto a tu Usuario</h4>
            </div>
            <div class="col-md-12 panel-body">
                <div class="col-md-12">
                    <h2 class="col-sm-5 col-sm-offset-3 texto-titulo">Foto</h2>
                    <form class="cmxform" id="signupForm" method="post" enctype="multipart/form-data">
                        <div class="col-md-12" id="form">
                            <div class="form-group form-animate-text separacion-campos">
                                {{ form_widget(form.name, { 'attr': {'class': 'file file-loading', 'data-allowed-file-extensions':'["jpg", "png", "gif"]', 'data-show-upload':'false'} }) }}
                                <span class="bar"></span>
                                {{ form_errors(form.name) }}
                            </div>

                            {{ form_row(form.save, { 'attr': {'class': 'col-xs-2 col-xs-offset-5 submit btn btn-3d btn-default fa fa-arrow-right texto-boton botones animar-boton'} }) }}

                            {{ form_row(form._token) }}

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- end: hoja blanca -->

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/fileinput.js') }}"></script>
    <script src="{{ asset('js/locales/es.js') }}"></script>

    <script src="{{ asset('js/photo/config_fileinput.js') }}"></script>

{% endblock %}
