{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <br><br>
    <!--Hoja Blanca-->
    <div class="col-md-12">
        <div class="panel form-element-padding">
            <div class="panel-heading">
                <h4>Quiz</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <form class="cmxform" id="evaluationForm" method="post">
                        <div class="form-group">
                            {% for question in questions %}
                                <input type="text" name="question[question][{{ question.id }}]" id="question_question"
                                       value="{{ question.id }}" style="visibility:hidden">
                                <h4><strong>{{ loop.index }} .- </strong>{{ question.question }}</h4>

                                <!--Respuesta Abierta-->
                                {% if  question.type == 0 %}
                                    <div class="form-group form-animate-text ">
                                        <textarea type="text" class="form-text"
                                                  name="question[question][{{ question.id }}][answerOpen][{{ loop.index }}]"
                                                  id="question_question_anwerOpen{{ loop.index }}"></textarea>
                                        <span class="bar"></span>
                                        <label>Respuesta</label>
                                    </div>
                                {% endif %}

                                <!--Respuetas VF-->
                                {% if question.type == 1 %}
                                    {% for answer in answers %}
                                        {% if question.question == answer.question.getQuestion() %}
                                            <input type="radio" class="form-text"
                                                   name="question[question][{{ question.id }}][answerVF][{{ loop.index }}]"
                                                   id="question_question_answer{{ loop.index }}" value="1">
                                            {{ answer.answer }}
                                            <br>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                <!--Respuetas Multiples-->
                                {% if question.type ==2 %}
                                    {% for answer in answers %}
                                        {% if question.question == answer.question.getQuestion() %}
                                            <input type="checkbox" class="form-text"
                                                   name="question[question][{{ question.id }}][answer][{{ loop.index }}]"
                                                   id="question_question_answer{{ loop.index }}" value="1">
                                            {{ answer.answer }}
                                            <br>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                            {% endfor %}
                        </div>
                        <input type="submit" name="enviar" value="Enviar" id="sendEvaluation"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end: hoja blanca -->

{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script>
        $(document).ready(function () {

            $('#sendEvaluation').click(function () {
                var dataString = $('#evaluationForm').serializeArray();
                //alert('Datos serializados: '+dataString);
                console.log("Datos" + dataString);
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/evaluacion/guardar",
                    data: dataString,
                    success: function (data) {
                    }
                });
            });
        });

    </script>


{% endblock %}


