{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<br>

    <div class="col-md-12 padding-0">
        <div class="col-md-4">
            <div class="panel box-v1">
                <div class="panel-heading bg-white border-none">
                    <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                        <h4 class="text-left">Prospectos</h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                        <h4>
                            <span class="icon-user icons icon text-right"></span>
                        </h4>
                    </div>
                </div>
                <div class="panel-body text-center">
                    <h1>{{ users|number_format  }}</h1>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel box-v1">
                <div class="panel-heading bg-white border-none">
                    <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                        <h4 class="text-left">Cuestionarios</h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                        <h4>
                            <span class="icon-basket-loaded icons icon text-right"></span>
                        </h4>
                    </div>
                </div>
                <div class="panel-body text-center">
                    <h1>{{ questionnaires|number_format }}</h1>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel box-v1">
                <div class="panel-heading bg-white border-none">
                    <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                        <h4 class="text-left">Test</h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                        <h4>
                            <span class="icon-basket-loaded icons icon text-right"></span>
                        </h4>
                    </div>
                </div>
                <div class="panel-body text-center">
                    <h1>{{ tests|number_format }}</h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
