<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title%}Interviews{%endblock%}</title>

    {%block stylesheets%}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css')}}">
        <!-- plugins -->
        <link rel="stylesheet" type="text/css" href="{{asset('css/plugins/font-awesome.min.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{asset('css/plugins/animate.min.css')}}"/>
        <link href="{{asset('css/style.min.css')}}" rel="stylesheet">
        <link href="{{asset('css/login.css')}}" rel="stylesheet">
        <!-- end: Css -->
    {%endblock%}
    <link rel="shortcut icon" href="{{ asset('img/logomi.png')}}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="mimin" class="dashboard">

    <!-- start: Content -->
    <div class="login">
        <form class="form-signin" action="{{  path('security_login') }}" method="post">
            {% if error %}
                <div class="alert alert-danger">
                    <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                </div>
            {% endif %}
            <div class="panel periodic-login panel-login">
                <div class="panel-body text-center">
                    <p class="element-name">Login</p>
                    <div class="form-group form-animate-text" style="margin-top:50px !important;">
                        <input type="text" class="form-text" required  id="username" name="_username" value="{{ last_username }}">
                        <span class="bar"></span>
                        <label>Username</label>
                    </div>
                    <div class="form-group form-animate-text" style="margin-top:50px !important;">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <input type="password" class="form-text" required  id="password" name="_password" />
                        <span class="bar"></span>
                        <label>Password</label>
                    </div>

                    <input type="submit" class="btn col-md-12" value="Sign In"/>
                </div>
            </div>
        </form>
    </div>
    <!-- end: content -->
    </div>
    <!-- end: Content -->

    {%block javascripts%}
        <!-- start: Javascript -->
        <script src="{{ asset('js/jquery.min.js')  }}"></script>
        <script src="{{ asset('js/jquery.ui.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <!-- plugins -->
        <script src="{{ asset('js/plugins/moment.min.js') }}"></script>
        <script src="{{ asset('js/plugins/jquery.nicescroll.min.js') }}"></script>
        <!-- custom -->
        <script src="{{ asset('js/main.min.js') }}"></script>
        <!-- end: Javascript -->
    {%endblock%}
    </body>
    </html>